body {
    font-family: Roboto, Arial, sans-serif !important;
}

.leaflet-popup-content-wrapper {
    background: rgba(255, 245, 238, 0.8);
}

.leaflet-container {
    background-color: #AADAFF;
    font-family: Roboto, Arial, sans-serif !important;
}

.poi-label {
    opacity: 0.9;
    transform: translate3d(370px, 363px, 0px);
    background: transparent;
    color: black;
    border: none;
    padding: 3px;
    text-shadow: 0 0 0.2em #ffffff;
    box-shadow: none;
    display: none;
}

.poi-marker {
    display: none;
}

.poi-label:before {
    border-right-color: transparent;
}

.poi-label-1 {
    font-size: 17pt;
    line-height: 17pt;
}

.poi-label-2 {
    font-size: 15pt;
    line-height: 15pt;
}

.poi-label-3 {
    font-size: 13pt;
    line-height: 13pt;
}

.poi-label-4 {
    font-size: 12pt;
    line-height: 12pt;
}

.poi-label-5 {
    font-size: 10pt;
    line-height: 10pt;
}

#search-box-container {
    border: none;
    position: absolute;
    z-index: 1000;
    left: 0px;
    top: 0px;
    background: #fff;
    border-radius: 8px;
    box-sizing: border-box;
    width: 392px;
    height: 48px;
    border-bottom: 1px solid transparent;
    padding: 12px 104px 11px 64px;
    transition-property: background,box-shadow;
    transition-duration: 0.3s;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2), 0 -1px 0px rgba(0,0,0,0.02);
    margin: 8px 0 8px 8px;
}

#search-box {
    outline: none;
    border: none;
    width: 100%;
    position: relative;
    left: 0px;
    font-size: 15px;
    margin: 0 !important;
    padding: 0 !important;
    height: 24px !important;
    line-height: 24px;
    vertical-align: top;
}
#search-box-container.open {
    border-radius: 8px 8px 0 0;
    border-bottom: 1px solid #DADCE0;
}

.search-result.ui-front {    
    z-index: 1000;
    width: 392px !important;
    /* background: none; */
    border: none !important;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    border-radius: 0 0 8px 8px;
    padding-top: 10px;
    background: white;
}

.search-result>li>div.ui-menu-item-wrapper {
    padding: 0px;
    height: 37px;
    /* font-size: 15px; */
    font-size: 13px;
    min-height: 24px;
    padding-left: 60px;
    line-height: 37px;
    background:white;
    
    margin-left: 0px;
    border-left: 0px;
    margin-right: 0px;
}

.search-result>li:last-child>div {
    border-radius: 0 0 8px 8px;
}

.search-result>li>div.ui-state-active {
    border-color: rgb(240,240,240);
    background: rgb(240,240,240);
    color: #000;
    margin-left: 0px;
    margin-right: 0px;
}



.searchbox-hamburger-container {
    position: absolute;
    z-index: 1003;
    left: 0;
    top: 0;
}

.searchbox-hamburger {    background: transparent;
    border: 0;
    border-radius: 0;
    font: inherit;
    list-style: none;
    margin: 0;
    outline: 0;
    overflow: visible;
    padding: 0;
    vertical-align: baseline;
    display: block;
    cursor: pointer;
    padding: 12px 16px;
    color: inherit;
}

.searchbox-hamburger::before {
    background-image: url(//maps.gstatic.com/tactile/omnibox/quantum_menu-v2-2x.png);
    content: '';
    display: block;
    background-size: 48px 24px;
    background-position: 0 0;
    height: 24px;
    width: 24px;
    opacity: .62;
}

#sidebar {
    position: absolute;
    z-index: 1;
    left: -340px;
    width: 320px;
    height: 100%;
    background-color: white;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    transition-property: -webkit-transform;
    transition-property: transform;
    box-shadow: 0 -1px 24px rgba(0,0,0,0.4);
    transition-duration: 0.3s;
    z-index: 1004;
}

#sidebar.open {
    -webkit-transform: translateX(340px);
    transform: translateX(340px);
}

#sidebar-header {
    padding: 14px 22px;
    height: 22px;
}

#sidebar-header-close-button {
    background: no-repeat url(//maps.gstatic.com/tactile/icons/settings_hdpi-ac98c51ad910ef499dcd2e654f1ef4a7.png) 0 -125px;
    background-size: 24px 1081px;
    height: 24px;
    width: 24px;
    top: 19px;
    position: absolute;
    right: 24px;
    cursor: pointer;
    opacity: .8;
    border: 0;
    border-radius: 0;
    font: inherit;
    list-style: none;
    margin: 0;
    outline: 0;
    overflow: visible;
    padding: 0;
    vertical-align: baseline;
}

#sidebar > ul {
    padding: 14px 22px;
    border-top: 1px solid #d9d9d9;
    color: #212121;
    font-size: 13px;
}

#sidebar > ul > li {
    padding: 8px 0;
    font: inherit;
    list-style: none;
}

#sidebar > ul > li > button {
    background: transparent;
    border: 0;
    border-radius: 0;
    font: inherit;
    list-style: none;
    margin: 0;
    outline: 0;
    overflow: visible;
    padding: 0;
    vertical-align: baseline;
    color: inherit;
    width: 100%;
    display: inline-block;
    text-align: left;
    cursor: pointer;
    position: relative;
    line-height: 24px;
    
    padding-left: 48px;
}

#sidebar > ul > li > button.active {
    color: #1A73E8;
}

.icon {
    height: 24px;
    width: 24px;
}

.poi-icon {
    background: no-repeat url(//maps.gstatic.com/tactile/icons/settings_hdpi-ac98c51ad910ef499dcd2e654f1ef4a7.png) 0 -500px;
    background-size: 24px 1081px;
}

.map-icon {
    background: no-repeat url(//maps.gstatic.com/tactile/icons/settings_hdpi-ac98c51ad910ef499dcd2e654f1ef4a7.png) 0 -400px;
    background-size: 24px 1081px;
}

.worlds-icon {
    background: no-repeat url(//maps.gstatic.com/tactile/icons/settings_hdpi-ac98c51ad910ef499dcd2e654f1ef4a7.png) 0 -891px;
    background-size: 24px 1081px;
}

.path-icon {
    background: no-repeat url(//maps.gstatic.com/tactile/icons/settings_hdpi-ac98c51ad910ef499dcd2e654f1ef4a7.png) 0 -400px;
    background-size: 24px 1081px;
}

.mountain-icon {
    background: no-repeat url(//maps.gstatic.com/tactile/icons/settings_hdpi-ac98c51ad910ef499dcd2e654f1ef4a7.png) 0 -600px;
    background-size: 24px 1081px;
}