body {
    font-family: Roboto, Arial, sans-serif !important;
}

.leaflet-popup-content-wrapper {
    background: rgba(255, 245, 238, 0.8);
}

.leaflet-container {
    background-color: #AADAFF;
    font-family: Roboto, Arial, sans-serif !important;
}

.poi-label {
    opacity: 0.9;
    transform: translate3d(370px, 363px, 0px);
    background: transparent;
    color: black;
    border: none;
    padding: 3px;
    text-shadow: 0 0 0.2em #ffffff;
    box-shadow: none;
    display: none;
}

.poi-marker {
    display: none;
}

.poi-label:before {
    border-right-color: transparent;
}

.poi-label-1 {
    font-size: 17pt;
    line-height: 17pt;
}

.poi-label-2 {
    font-size: 15pt;
    line-height: 15pt;
}

.poi-label-3 {
    font-size: 13pt;
    line-height: 13pt;
}

.poi-label-4 {
    font-size: 12pt;
    line-height: 12pt;
}

.poi-label-5 {
    font-size: 10pt;
    line-height: 10pt;
}

#search-box-container {
    border: none;
    position: absolute;
    z-index: 1000;
    left: 0px;
    top: 0px;
    background: #fff;
    border-radius: 8px;
    box-sizing: border-box;
    width: 392px;
    height: 48px;
    border-bottom: 1px solid transparent;
    padding: 12px 104px 11px 64px;
    transition-property: background,box-shadow;
    transition-duration: 0.3s;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2), 0 -1px 0px rgba(0,0,0,0.02);
    margin: 8px 0 8px 8px;
}

#search-box {
    outline: none;
    border: none;
    width: 100%;
    position: relative;
    left: 0px;
    font-size: 15px;
    margin: 0 !important;
    padding: 0 !important;
    height: 24px !important;
    line-height: 24px;
    vertical-align: top;
}
#search-box-container.open {
    border-radius: 8px 8px 0 0;
    border-bottom: 1px solid #DADCE0;
}

.search-result.ui-front {    
    z-index: 1000;
    width: 392px !important;
    /* background: none; */
    border: none !important;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    border-radius: 0 0 8px 8px;
    padding-top: 10px;
    background: white;
}

.search-result>li>div.ui-menu-item-wrapper {
    padding: 0px;
    height: 37px;
    /* font-size: 15px; */
    font-size: 13px;
    min-height: 24px;
    padding-left: 60px;
    line-height: 37px;
    background:white;
    
    margin-left: 0px;
    border-left: 0px;
    margin-right: 0px;
}

.search-result>li:last-child>div {
    border-radius: 0 0 8px 8px;
    /* box-shadow: 0 2px 4px rgba(0,0,0,0.2); */
}

.search-result>li>div.ui-state-active {
    border-color: rgb(240,240,240);
    background: rgb(240,240,240);
    color: #000;
    margin-left: 0px;
    margin-right: 0px;
}



/* suggestion shown

border-radius: 8px 8px 0 0;
    border-bottom: 1px solid #DADCE0;*/